body {
  background: linear-gradient(to right, #CFFCFF, #AAEFDF);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  overflow: hidden;
  visibility: hidden;
  background: linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  width: 18em;
  height: 18em;
  border: solid 1em;
  border-color: rgba(5,34,115,0.9);
  border-radius: 50%;
  animation-delay: 155ms;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 400%;
    visibility: visible;
  }

  to {
    margin-left: 0%;
    visibility: visible;
  }
}

.hours {
  background-color: #FFFF04;
  width: 6em;
  height: 0.2em;
  position: relative;
  top: 9em;
  left: 3em;
  /* transform: rotate(0deg); */
  transform-origin: 100%;
  box-shadow: 0 0 0.1em rgba(5,34,115,0.9);
}

.minutes {
  background-color: #FFFF04;
  width: 7em;
  height: 0.2em;
  position: relative;
  top: 8.8em;
  left: 2em;
  /* transform: rotate(0deg); */
  transform-origin: 100%;
  box-shadow: 0 0 0.1em rgba(5,34,115,0.9);
}

.seconds {
  background-color: #FFFF04;
  width: 8em;
  height: 0.2em;
  position: relative;
  top: 8.6em;
  left: 1em;
  transform-origin: 100%;
  box-shadow: 0 0 0.1em rgba(5,34,115,0.9);
}

h1 {
  overflow: hidden;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #FFFF04;
  text-shadow: 0 0 0.1em rgba(5,34,115,0.9);
  animation-duration: 2.2s;
  animation-name: slideinn;
}

@keyframes slideinn {
  from {
    margin-right: 300%;
  }

  to {
    margin-left: 0%;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 1.5em;
    position: relative;
    right: .2em;
    animation: none;
  }

  .clock {
    position: relative;
    right: .5em;
    animation: none;
  }
}
